/**
 * 	General Style
 */
body
{
	background-color:rgb(153,255,102);
	background-image:  url("../img/dots_final.png");
	background-size: 60px 60px;
	color:rgb(51,51,51);
}
.wrap
{
	background-color:rgba(255,255,204,0.9);
	border-radius: 4px;
	border: 1px solid rgb(192,0,0);
}
a,a:focus,a:active,a:visited,a:hover
{
	color: rgb(255,160,21);
}
/*
 * Remove ugly Pageheaderborder
 */
.page-header
{
	border-bottom:1px solid rgb(192,0,0);
}
/*
 * Navigation
 */
.navbar
{
	background-color:rgba(255,255,204,1);
	margin-top:20px;
	border:1px solid rgb(192,0,0);
	border-radius: 4px;
}
.navbar .active a
{
	background-color:rgba(255,160,21,0.5) !important;
}
.navbar-brand{
	text-indent:-9000px;
}

/*
 * footer
 */
footer{
 	margin:0 auto;
 }
footer p
{
	text-align:center;
}


/*
 * login view
 */ 
#login-wrapper
 {
 	margin-top:60px;
 }
 
 
 /*login form
  * 
  */
#theme-my-login,
#theme-my-login1
{
	border-radius: 4px;
	border: 1px solid rgb(192,0,0);
	width:300px;
	margin-bottom:30px;
	
}
#theme-my-login p,
#theme-my-login1 p
{
	display:block;
	margin: 0 auto;
}
#theme-my-login .tml-action-links,
#theme-my-login1 .tml-action-links
{
	padding-left:0px;
}
.tml-action-links li

{
	list-style-type: none;
}
#theme-my-login .submit input,
#theme-my-login1 .submit input
{
	border:none;
	background-color:rgba(255, 160, 21, 0.5);
	font-weight:700;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border-radius: 4px;
	border: 1px solid rgb(192,0,0);
}
#wpmem_login div,#wpmem_login label
{
	float:none;
}
#pwd
{
	/*margin-top:22px;*/
}
#wpmem_login input, #wpmem_reg input
{
	background-color:white!important;
	border:1px solid rgb(192,0,0) !important;
}
#wpmem_login input:focus,
#wpmem_login input:hover,
#wpmem_login input:active
{
	
	
}
.button_div
{
	width:300px !important;
}
#wpmem_login div
{
	text-align:left; !important;
}
legend
{
	border-bottom:1px solid rgb(192,0,0) !important;
}
#rememberme{
	display:none;
}
